@<SCOPE>:registry=<%Local Registry%>
//artifactory.oci.oraclecorp.com/api/npm/cgbu_ecprt-dev-npm-local/:_password=<%Password%>
//artifactory.oci.oraclecorp.com/api/npm/cgbu_ecprt-dev-npm-local/:username=<%Username%>
//artifactory.oci.oraclecorp.com/api/npm/cgbu_ecprt-dev-npm-local/:email=<%Email Id%>
//artifactory.oci.oraclecorp.com/api/npm/cgbu_ecprt-dev-npm-local/:always-auth=true
